@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	width: 393px;
	height: 852px;
    background-image: url("../img/six-img.png");
	background-size: cover;
}

html {
	background-color: white;
	display: flex;
	justify-content: center;

}

.main-text {
	width: 269px;
	height: 104px;
	margin-left: 62px;
	margin-top: 158px;

	font-family: "Pretendard-Regular";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;

	color: #ffffff;
}

.main-sidebar {
	width: 48px;
	height: 852px;
	margin-left: 345px;
	position: absolute;
}

.julgu {
	position: absolute;
	width: 28px;
	height: 28px;
	/* left: 355px;
	top: 397px; */
    margin-left: 355px;
    margin-top: 137px;
    cursor: pointer;
}

.set-big{
	width: 28px;
	height: 28px;
    transition: all 3s linear;
    transform: scale( 2 );
}


/* 사이드바 옆으로 */
/* .go-left { */
    /* animation-delay: 2s; */
    /* animation: goleft 3s;
    -moz-animation: goleft 3s;
    -webkit-animation: goleft 3s;
    -o-animation: goleft 3s;  */
  /* } */

  /* @keyframes goleft {
      from {
          right: 630px;
      }
      to {
          right: 677px;
      }
  } */



/* 페이드인 전환 */
body {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }

  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }