body {
	width: 393px;
	height: 852px;
	background-image: url("../six-img.png");
	background-size: cover;
}

html {
	background-color: white;
	display: flex;
	justify-content: center;
}

.main-text {
	width: 269px;
	height: 104px;
	margin-left: 62px;
	margin-top: 158px;

	font-family: "Pretendard";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;

	color: #ffffff;
}

.main-sidebar {
	width: 48px;
	height: 852px;
	margin-left: 345px;
	position: absolute;
}

.julgu {
	position: absolute;
	width: 28px;
	height: 28px;
	/* left: 355px;
	top: 397px; */
    margin-left: 355px;
    margin-top: 137px;
    cursor: pointer;
}

.set-big{
	width: 28px;
	height: 28px;
    transition: all 3s linear;
    transform: scale( 2 );
}

/* 페이드인 전환 */
body {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }

  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }